// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "BMC";
	compatible = "panyue,hr855xg2-bmc", "aspeed,ast2500";

	aliases {
		i2c14 = &pcie_slot8;
		i2c15 = &pcie_slot9;
		i2c16 = &pcie_slot10;
		i2c17 = &pcie_slot11;
		i2c18 = &pcie_slot12;
		i2c19 = &switch0_i2c5;
		i2c22 = &switch1_i2c0;
		i2c23 = &pcie_slot6;
		i2c24 = &pcie_slot7;
		i2c30 = &pcie_slot1;
		i2c31 = &pcie_slot2;
		i2c32 = &pcie_slot3;
		i2c33 = &pcie_slot4;
		i2c34 = &pcie_slot5;
		i2c35 = &switch2_i2c5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200 earlyprintk";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		flash_memory: region@9EFF0000 {
			no-map;
			reg = <0x9EFF0000 0x00010000>; /* 64K */
		};

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	leds {
		compatible = "gpio-leds";

		heartbeat {
			gpios = <&gpio ASPEED_GPIO(C, 7) GPIO_ACTIVE_LOW>;
		};

		fault {
			gpios = <&gpio ASPEED_GPIO(G, 3) GPIO_ACTIVE_LOW>;
		};
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
		<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>,
		<&adc 8>, <&adc 9>, <&adc 10>,<&adc 11>,
		<&adc 12>,<&adc 13>,<&adc 14>;
	};

	iio-hwmon-battery {
		compatible = "iio-hwmon";
		io-channels = <&adc 15>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		id-button {
			label = "id-button";
			gpios = <&gpio ASPEED_GPIO(Y, 2) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(Y, 2)>;
		};

		pwr-button {
			label = "pwr-button";
			gpios = <&gpio ASPEED_GPIO(I, 1) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(I, 1)>;
		};

		cpu-caterr {
			label = "cpu-caterr";
			gpios = <&gpio ASPEED_GPIO(G, 1) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(G, 1)>;
		};

		int-fpga-bmc {
			label = "int-fpga-bmc";
			gpios = <&gpio ASPEED_GPIO(F, 5) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(F, 5)>;
		};

		pdb-alt-n {
			label = "pdb-alt-n";
			gpios = <&gpio ASPEED_GPIO(AA, 1) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(AA, 1)>;
		};

		p12v-aux1-alert1-n {
			label = "p12v-aux1-alert1-n";
			gpios = <&gpio ASPEED_GPIO(AA, 7) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(AA, 7)>;
		};

		p12v-aux2-alert1-n {
			label = "p12v-aux2-alert1-n";
			gpios = <&gpio ASPEED_GPIO(J, 0) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(J, 0)>;
		};

		p12v-aux3-alert1-n {
			label = "p12v-aux3-alert1-n";
			gpios = <&gpio ASPEED_GPIO(G, 5) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(G, 5)>;
		};

		ddr-vr-bmc-alert-n {
			label = "ddr-vr-bmc-alert-n";
			gpios = <&gpio ASPEED_GPIO(L, 7) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(L, 7)>;
		};

		cpu-vr-bmc-alert-n {
			label = "cpu-vr-bmc-alert-n";
			gpios = <&gpio ASPEED_GPIO(L, 6) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(L, 6)>;
		};

		riser1-vr-al-r {
			label = "riser1-vr-al-r";
			gpios = <&gpio ASPEED_GPIO(AB, 1) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(AB, 1)>;
		};

		riser2-vr-al-r {
			label = "riser2-vr-al-r";
			gpios = <&gpio ASPEED_GPIO(F, 1) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(F, 1)>;
		};

		riser3-vr-al-r {
			label = "riser3-vr-al-r";
			gpios = <&gpio ASPEED_GPIO(A, 1) GPIO_ACTIVE_LOW>;
			linux,code = <ASPEED_GPIO(A, 1)>;
		};
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout.dtsi"
	};
};

&vhub {
	status = "okay";
};

&lpc_ctrl {
	status = "okay";
	memory-region = <&flash_memory>;
};

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>;
};

&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <40000000>;
	};
};

&spi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2ck_default
				&pinctrl_spi2cs0_default
				&pinctrl_spi2miso_default
				&pinctrl_spi2mosi_default>;

		spidev@0 {
				status = "okay";
				compatible = "aspeed,spidev";
				reg = < 0 >;
				spi-max-frequency = <50000000>;
		};

		flash@0 {
				compatible = "jedec,spi-nor";
				m25p,fast-read;
				label = "fpga";
				reg = < 0 >;
				spi-max-frequency = <50000000>;
				status = "okay";
		};
};

&uart2 {
	/* Rear RS-232 connector */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd2_default
			&pinctrl_rxd2_default
			&pinctrl_nrts2_default
			&pinctrl_ndtr2_default
			&pinctrl_ndsr2_default
			&pinctrl_ncts2_default
			&pinctrl_ndcd2_default
			&pinctrl_nri2_default>;
};

&uart5 {
	status = "okay";
};

&vuart {
	status = "okay";
	auto-flow-control;
	espi-enabled = <&syscon 0x70 25>;
};

&ibt {
	status = "okay";
};

&mac0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii1_default>;

	use-ncsi;
};

&mac1 {
	status = "okay";
	pinctrl-names = "default";  
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&adc{
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0_default
			&pinctrl_adc1_default
			&pinctrl_adc2_default
			&pinctrl_adc3_default
			&pinctrl_adc4_default
			&pinctrl_adc5_default
			&pinctrl_adc6_default
			&pinctrl_adc7_default
			&pinctrl_adc8_default
			&pinctrl_adc9_default
			&pinctrl_adc10_default
			&pinctrl_adc11_default
			&pinctrl_adc12_default
			&pinctrl_adc13_default
			&pinctrl_adc14_default
			&pinctrl_adc15_default>;
};

&peci0 {
	status = "okay";
	peci-client@30 {
		compatible = "intel,peci-client";
		reg = <0x30>;
	};

	peci-client@31 {
		compatible = "intel,peci-client";
		reg = <0x31>;
	};

	peci-client@32 {
		compatible = "intel,peci-client";
		reg = <0x32>;
	};

	peci-client@33 {
		compatible = "intel,peci-client";
		reg = <0x33>;
	};
};

&i2c0 {
	status = "okay";

	i2c-switch@71 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;

		pcie_slot8: i2c@0{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
		};

		pcie_slot9: i2c@1{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
		};

		pcie_slot10: i2c@2{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
		};

		pcie_slot11: i2c@3{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;
		};

		pcie_slot12: i2c@4{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <4>;
		};

		switch0_i2c5:i2c@5{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <5>;
				eeprom@54 {
						compatible = "atmel,24c04";
						pagesize = <16>;
						reg = <0x54>;
				};
		};
	};
};

&i2c1 {
	status = "okay";
	bus-frequency = <90000>;
	HotSwap@10 {
		compatible = "adm1272";
		reg = <0x10>;
	};

	VR@45 {
		compatible = "raa228006";
		reg = <0x45>;
	};
};

&i2c2 {
	status = "okay";

	i2c-switch@71 {
		compatible = "nxp,pca9545";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;

		switch1_i2c0:i2c@0{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				eeprom@54 {
						compatible = "atmel,24c04";
						pagesize = <16>;
						reg = <0x54>;
				};
		};

		pcie_slot6:i2c@1{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
		};

		pcie_slot7:i2c@2{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
		};
	};
};

&i2c3 {
	status = "okay";
	i2c-switch@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel_0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		channel_1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		channel_2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		channel_3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";

	CPU0_VCCIN@60 {
		compatible = "raa228006";
		reg = <0x60>;
	};

	CPU1_VCCIN@62 {
		compatible = "raa228006";
		reg = <0x62>;
	};

	CPU2_VCCIN@64 {
		compatible = "raa228006";
		reg = <0x64>;
	};

	CPU3_VCCIN@66 {
		compatible = "raa228006";
		reg = <0x66>;
	};

	CPU0_VCCSA@46 {
		compatible = "ir38164";
		reg = <0x46>;
	};

	CPU1_VCCSA@47 {
		compatible = "ir38164";
		reg = <0x47>;
	};

	CPU2_VCCSA@48 {
		compatible = "ir38164";
		reg = <0x48>;
	};

	CPU3_VCCSA@49 {
		compatible = "ir38164";
		reg = <0x49>;
	};

	CPU0_VCCIO@41 {
		compatible = "ir38164";
		reg = <0x41>;
	};

	CPU1_VCCIO@42 {
		compatible = "ir38164";
		reg = <0x42>;
	};

	CPU2_VCCIO@43 {
		compatible = "ir38164";
		reg = <0x43>;
	};

	CPU3_VCCIO@44 {
		compatible = "ir38164";
		reg = <0x44>;
	};
};

&i2c6 {
	status = "okay";
	/* temp1 */
	tmp75@49 {
		compatible = "national,lm75";
		reg = <0x49>;
	};

	/* temp2 */
	tmp75@4d {
		compatible = "national,lm75";
		reg = <0x4d>;
	};

	eeprom@54 {
		compatible = "atmel,24c256";
		reg = <0x54>;
		pagesize = <64>;
	};
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";

	i2c-switch@71 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;

		pcie_slot1: i2c@0{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
		};

		pcie_slot2: i2c@1{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
		};

		pcie_slot3: i2c@2{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
		};

		pcie_slot4: i2c@3{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;
		};

		pcie_slot5: i2c@4{
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <4>;
		};

		switch2_i2c5:i2c@5{
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
			eeprom@54 {
				compatible = "atmel,24c04";
				pagesize = <16>;
				reg = <0x54>;
			};
		};
	};
};

&i2c13 {
	status = "okay";

	CPU0_VDDQ_ABC@58 {
		compatible = "sn1701022";
		reg = <0x58>;
	};

	CPU0_VDDQ_DEF@5a {
		compatible = "sn1701022";
		reg = <0x5a>;
	};

	CPU1_VDDQ_ABC@5c {
		compatible = "sn1701022";
		reg = <0x5c>;
	};

	CPU1_VDDQ_DEF@5e {
		compatible = "sn1701022";
		reg = <0x5e>;
	};

	CPU2_VDDQ_ABC@68 {
		compatible = "sn1701022";
		reg = <0x68>;
	};

	CPU2_VDDQ_DEF@6a {
		compatible = "sn1701022";
		reg = <0x6a>;
	};

	CPU3_VDDQ_ABC@6c {
		compatible = "sn1701022";
		reg = <0x6c>;
	};

	CPU3_VDDQ_DEF@6e {
		compatible = "sn1701022";
		reg = <0x6e>;
	};

};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&gfx {
	status = "okay";
	memory-region = <&gfx_memory>;
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default
	&pinctrl_pwm1_default
	&pinctrl_pwm2_default
	&pinctrl_pwm3_default
	&pinctrl_pwm4_default
	&pinctrl_pwm5_default
	&pinctrl_pwm6_default
	&pinctrl_pwm7_default>;

	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00>;
	};

	fan@1 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x01>;
	};

	fan@2 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02>;
	};

	fan@3 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x03>;
	};

	fan@4 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04>;
	};

	fan@5 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x05>;
	};

	fan@6 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06>;
	};

	fan@7 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x07>;
	};

	fan@8 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x08>;
	};

	fan@9 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x09>;
	};

	fan@10 {
		reg = <0x05>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0a>;
	};

	fan@11 {
		reg = <0x05>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0b>;
	};

	fan@12 {
		reg = <0x06>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0c>;
	};

	fan@13 {
		reg = <0x06>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0d>;
	};

	fan@14 {
		reg = <0x07>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0e>;
	};

	fan@15 {
		reg = <0x07>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0f>;
	};

	fan@16 {
		reg = <0x07>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0f>;
	};
};

&gpio {

	pin_gpio_b5 {
		gpio-hog;
		gpios = <ASPEED_GPIO(B, 5) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "IRQ_BMC_PCH_SMI_LPC_N";
	};

	pin_gpio_b7 {
		gpio-hog;
		gpios = <ASPEED_GPIO(B, 7) GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "CPU_SM_WP";
	};

	pin_gpio_e6 {
		gpio-hog;
		gpios = <ASPEED_GPIO(E, 6) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "BMC_ME_SECURITY_OVERRIDE_N";
	};

	pin_gpio_g7 {
		gpio-hog;
		gpios = <ASPEED_GPIO(G, 7) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "BMC_PCIE_I2C_MUX_RST_N";
	};

	pin_gpio_f2 {
		gpio-hog;
		gpios = <ASPEED_GPIO(F, 2) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "RM_THROTTLE_EN_N";
	};

	pin_gpio_f3 {
		gpio-hog;
		gpios = <ASPEED_GPIO(F, 3) GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "FM_PMBUS_ALERT_B_EN";
	};

	pin_gpio_f4 {
		gpio-hog;
		gpios = <ASPEED_GPIO(F, 4) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "BMC_FORCE_NM_THROTTLE_N";
	};

	pin_gpio_j1 {
		gpio-hog;
		gpios = <ASPEED_GPIO(J, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "BMC_USB_SEL";
	};

	pin_gpio_j2 {
		gpio-hog;
		gpios = <ASPEED_GPIO(J, 2) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "PDB_SMB_RST_N";
	};

	pin_gpio_j3 {
		gpio-hog;
		gpios = <ASPEED_GPIO(J, 3) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "SPI_BMC_BIOS_HOLD_N";
	};

	pin_gpio_l4 {
		gpio-hog;
		gpios = <ASPEED_GPIO(L, 4) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "FM_EFUSE_FAN_G1_EN";
	};

	pin_gpio_l5 {
		gpio-hog;
		gpios = <ASPEED_GPIO(L, 5) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "FM_EFUSE_FAN_G2_EN";
	};

	pin_gpio_s2 {
		gpio-hog;
		gpios = <ASPEED_GPIO(S, 2) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "PCH_RST_RSMRST_N";
	};

	pin_gpio_z3 {
		gpio-hog;
		gpios = <ASPEED_GPIO(Z, 3) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "FM_BMC_PCH_SCI_LPC_N";
	};

	pin_gpio_aa0 {
		gpio-hog;
		gpios = <ASPEED_GPIO(AA, 0) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "FW_PSU_ALERT_EN_N";
	};

};
